nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--white);
}
.pointer {
  cursor: pointer;
}
.sidebar {
  width: 7vw;
  position: sticky;
  top: 5rem;
  height: min-content;
}
.create-playlist {
  border: 3px solid black;
}
.playlist-page {
  z-index: 0;
}

.modal-wrapper {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  height: 100vh;
  width: 100%;
}
.modal {
  background-color: var(--white);
  z-index: 2;
  width: 40vw;
}

.add-to-playlist-modal {
  border-radius: 5px;
  padding: -10px;
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--white);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}
.playlist-list {
  background-color: var(--white);
}
.card-cross {
  top: 1.5rem;
  right: 1.5rem;
}
.add-to-playlist-modal::-webkit-scrollbar {
  display: none;
}

.add-to-playlist-modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-card-container {
  position: relative;
}
.delete-playlist-modal {
  width: 50vw;
  position: absolute;
  z-index: 1;
}
.card-horizontal {
  height: 20rem;
}
.single-videopage-video {
  /* width: 65vw; */
}
.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-page-buttons {
  position: relative;
}
.single-video-playlist-list {
  height: min-content;
  top: 40px;
  right: 10vw;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--primary);
  margin-left: auto;
  max-height: 70px;
  overflow-y: scroll;
}
.add-to-playlist-small {
}
@media only screen and (max-width: 1050px) {
  .modal {
    width: 50vw;
  }
}
@media only screen and (max-width: 768px) {
  .modal {
    width: 80vw;
  }
}
